.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 10px 0 10px;
  align-self: flex-start;

  font-size: 48px;

  @media (min-width: 768px) {
    margin: 30px 0 20px;
    font-size: 60px;
  }
}

.tools {
  width: 100%;

  margin-bottom: 10px;

  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
  }

  .pagination {
    order: -1;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      order: initial;
      margin-bottom: 0;
    }
  }
}

.pokelist {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1360px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1900px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.filter {
  max-width: 700px;
}

.paginationWrap {
  margin-top: 30px;
  margin-bottom: 30px;
}
