@import '../../style/mixins/center';
@import '../../style/variable';

.body {
  @include center();
  height: 100vh;
  flex-direction: column;

  h1 {
    max-width: 280px;

    text-align: center;
    font-size: 24px;

    @media (min-width: 768px) {
      max-width: 500px;
      font-size: 36px;
    }
  }

  h2 {
    margin: 0 0 100px;

    font-family: 'Pokemon', Arial, sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-size: 80px;
    color: $first-color;
  }
}

.btn {
  padding: 15px 30px;

  background-color: $second-color;
  border-radius: 5px;

  color: $light-font;
  text-decoration: none;
  font-weight: 500;

  transition: $transition;

  @media (min-width: 1024px) {
    &:hover {
      background-color: lightskyblue;
      color: $dark-font;
      transition: $transition;
    }
  }
}
