@import '../../../style/variable';

.btn {
  width: 100%;
  padding: 10px;

  background-color: $second-color;
  border-radius: 5px;

  color: $light-font;
  font-weight: 600;
  transition: $transition;
  border: 1px solid transparent;

  &:hover {
    background-color: lightskyblue;
    transition: $transition;
  }

  &.light {
    background-color: #fff;
    color: $first-color;
    border: 1px solid $first-color;

    &:hover {
      background-color: lightskyblue;
      color: white;
      border-color: transparent;
    }
  }
}
