$dark-font: #181B1D;                                // темно-серый
$light-font: #fff;                                  // белый

$first-color: #feca1b;                              // желтый
$second-color: #3761a8;                             // синий

$transition: all .2s ease-in;
